* {
    border: 0;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "bebas";
    src: url("../vendors/BebasNeue-Regular/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "lobster";
    src: url("../vendors/Lobster-Regular/Lobster-Regular.ttf");
}

@font-face {
    font-family: "rowdies";
    src: url("../vendors/Rowdies/Rowdies-Regular.ttf");
}

@font-face {
    font-family: "russo";
    src: url("../vendors/RussoOne-Regular/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "teko";
    src: url("../vendors/Teko/Teko-Regular.ttf");
}

@font-face {
    font-family: "satisfy";
    src: url("../vendors/Satisfy/Satisfy-Regular.ttf");
}

:root {
    --color-dark: #3B3D3A;
    --color-grey: #CECED6;
    --color-light: #F0EBEF;
    --color-white: #fdfdfd;
}

a {
    text-decoration: none !important;
    color: var(--color-white) !important;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    color: var(--color-dark);
    background-color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    position: relative;
    overflow-x: hidden;
}

.progress {
    height: 0.5rem !important;
}

header h2 {
    position: relative;
    letter-spacing: 0.2rem;
}

.banner_name {
    font-size: 3.5rem;
}

header h2::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: -1rem;
    height: 4px;
    border-radius: 20px;
    width: 5%;
    background-color: var(--bs-warning);
}

.left header h2::before {
    width: 8%;
}

header,
section,
div,
footer {
    display: block;
}

#loader {
    width: 100vw;
    margin: auto;
    height: 100vh;
    display: block;
    position: relative;
    background-color: var(--color-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: #FFF #FFF transparent transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF3D00 #FF3D00;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

.loader::before {
    width: 32px;
    height: 32px;
    border-color: #FFF #FFF transparent transparent;
    animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.badged {
    position: relative;
    padding: 10px;
    color: var(--color-dark);
    border-radius: 10px;
    background-color: yellow;
    width: auto;
    height: auto;
    text-align: left;
}

.resume {
    z-index: 10;
    box-shadow: 0 -1rem 2rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 90rem;
}

.reference span {
    font-weight: bold;
    margin-right: 1rem;
}

.reference,
.education p {
    margin-bottom: 0.5rem !important;
}

.contact b {
    font-size: 1.4rem;
}